
header {
    background-color: rgb(255, 231, 255);
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:300px;
}


.logo {
    
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: rgb(255, 0, 221);
    
    background-color: rgb(255, 231, 255);
    padding: 5px 12px;
    border-radius: 10px;
    transition: transform 0.3s, color 0.3s;
}

.logo:hover {
   color: purple;
}




nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

nav ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.541); 
    padding: 8px 15px;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
    position: relative;
    font-family: "Poppins", sans-serif;
}

nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: rgb(255, 0, 221);
    transition: 0.3s;
}

nav a:hover {
  
  color: black;                        
}

nav ul li a:hover::after {
    width: 100%; 
}

h2 {
    text-align: center;
    color: rgb(255, 0, 221);
}


p {
    text-align: center;
    color: rgba(0, 0, 0, 0.534);
}

.banner{
  width: 100%;       
  height: 200px;      
  object-fit: cover;  
}

