* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    position: fixed;
    width: 100%;
    background: white;
    z-index: 1000;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: rgb(255, 0, 221);
}

nav {
    display: flex;
    gap: 35px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    position: relative; 
}

/* this code is for pink underline */
nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;      
    width: 0;
    height: 2px;
    background-color: rgb(255, 0, 221);
    transition: width 0.3s ease, left 0.3s ease;
}

nav a:hover::after {
    width: 100%;
    left: 0;       
}




/* hero */
.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
    max-width: 600px;
}

.hero-text h1 {
    font-size: 56px;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 25px;
}

.hero-text button {
    padding: 15px 40px;
    border: none;
    background: rgb(255, 0, 221);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}

/* stats*/
.stats {
    display: flex;
    justify-content: space-around;
    padding: 80px 20px;
    background: #f7f7f7;
}

.stats h2 {
    color: rgb(255, 0, 221);
    font-size: 36px;
}

/* Service section */

.services-dark {
    background: #000;
    padding: 250px 0; 
    color: white;
    position: relative;
}


.services-dark h2 {
    font-size: 42px;
    margin-left: 60px;
    margin-bottom: 80px;
}


.slider-viewport {
    overflow: visible; 
    width: 100%;
    display: flex;
    justify-content: center; 
    cursor: grab;
}

/* tracks */
.slider-track {
    display: flex;
    gap: 40px;
    transform: translateX(0);
}

.slider-viewport:active {
    cursor: grabbing;
}


.slide {
    min-width: 420px;
    height: 520px;
    position: relative;
    transition: transform 0.6s ease, filter 0.6s ease;
    cursor: pointer;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    opacity: 0.85;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.slide span {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 24px;
    letter-spacing: 1px;
}

.slide p {
    position: absolute;
    bottom: 70px;
    left: 30px;
    right: 30px;

    font-size: 15px;
    line-height: 1.6;          
    color: rgba(255,255,255,0.85);

    opacity: 0;
    transform: translateY(15px);
    transition: all 0.5s ease;
   
    z-index: 2;


}

.slide:hover p {
    opacity: 1;
    transform: translateY(0);
}

.slide::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.65),
        rgba(0,0,0,0.25),
        rgba(0,0,0,0)
    );
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}




.slide:hover {
    transform: translateY(-15px);
    z-index: 5;
}

.slide:hover::after {
    opacity: 1;
}

.slide:hover img {
    transform: scale(1.08);
    opacity: 1;
}

.slide:nth-child(odd) {
    transform: rotate(-2deg);
}

.slide:nth-child(even) {
    transform: rotate(2deg);
}



/* Experiencee */
.experience {
    padding: 100px 60px;
    background: #f9f9f9;
}

.exp-text {
    text-align: center;
    margin-bottom: 50px;
}

.exp-text h2 {
    font-size: 42px;
    color: #ff00dd;
    margin-bottom: 20px;
}

.exp-text p {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

/* image(grid) */
.exp-images-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}


.exp-image {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
}

.exp-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.exp-image:hover img {
    transform: scale(1.08);
}


.exp-image .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
    color: white;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    transition: opacity 0.4s ease;
}

.exp-image:hover .overlay {
    opacity: 1;
}

.exp-image h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.exp-image p {
    font-size: 15px;
    line-height: 1.5;
}


.exp-cta {
    text-align: center;
    margin-top: 50px;
}

.exp-cta button {
    padding: 15px 45px;
    background: #ff00dd;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.exp-cta button:hover {
    background: #e600c4;
}



/* Full width video flow */
.video-flow {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}


.video-flow video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.video-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.6)
    );
}

/* for the text floating on the video */
.video-content {
    position: absolute;
    bottom: 15%;
    left: 60px;
    color: white;
    max-width: 500px;
    animation: fadeUp 1.2s ease;
}

.video-content h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

.video-content p {
    font-size: 18px;
    opacity: 0.85;
}


.video-flow::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to bottom, transparent, #000);
}


@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.cta {
    background: rgb(255, 0, 221);
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.cta button {
    margin-top: 25px;
    padding: 15px 45px;
    border: none;
    background: white;
    color: rgb(255, 0, 221);
    font-weight: bold;
    border-radius: 30px;
}


.footer {
    text-align: center;
    padding: 30px;
    background: #111;
    color: white;
}

/* this one animation*/
@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-60%);
    }
}

/* and this one for the responsivness of the page across d/t medias*/
@media (max-width: 768px) {
    .hero-text h1 { font-size: 36px; }
    .exp-text h2 { font-size: 32px; }
    .slider-viewport { overflow-x: scroll; }
}
